/* body{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.container{
    text-align: center;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
    margin: 53.6px 0;
}
p{
    font-size: 35px;
    margin: 35px 0;
}
button{
    width: 250px;
    height: 80px;
    color: white;
    background-color: blue;
    transition: all 0.5s;
}

button:hover {
  background-color: green;

}
